[project]
	description = AOSB Base
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Hany alsamman (codex-corp)
[access "refs/for/refs/*"]
	read = group user/Hany alsamman (codex-corp)
	push = group user/Hany alsamman (codex-corp)
	label-Code-Review = -2..+2 group user/Hany alsamman (codex-corp)
	label-Verified = -1..+1 group user/Hany alsamman (codex-corp)
	rebase = group user/Hany alsamman (codex-corp)
	removeReviewer = group user/Hany alsamman (codex-corp)
	submit = group user/Hany alsamman (codex-corp)
[access "refs/heads/*"]
	read = group user/Hany alsamman (codex-corp)
	create = group user/Hany alsamman (codex-corp)
	push = +force group user/Hany alsamman (codex-corp)
	pushMerge = group user/Hany alsamman (codex-corp)
[access "refs/tags/*"]
	push = +force group user/Hany alsamman (codex-corp)
	pushTag = group user/Hany alsamman (codex-corp)
	pushSignedTag = group user/Hany alsamman (codex-corp)
